# ==============================================================================
# ARCHIVOS GLOBALES Y VARIABLES DE ENTORNO
# ==============================================================================
.env
.env.*.local
*.env
.DS_Store
Thumbs.db
logs/
*.log

# ==============================================================================
# BACKEND (NestJS / TypeScript)
# ==============================================================================
backend/node_modules/
backend/dist/
backend/.nest/
backend/npm-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*

# Cobertura y Tests
backend/coverage/
backend/.nyc_output/

# Bases de datos locales de SQLite (si usas Prisma/TypeORM para testing)
backend/prisma/*.db
backend/prisma/*.db-journal

# ==============================================================================
# FRONTEND (React Native / Expo / TypeScript)
# ==============================================================================


# ==============================================================================
# CONFIGURACIONES DE IDEs (VSCode, IntelliJ, etc.)
# ==============================================================================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.sublime-project
*.sublime-workspace